<!DOCTYPE html>
<html>
<head>
    <title><%=blocks.title%></title>

    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/bgrid.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
 
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-9">
                <nav class="header__nav">
                    <%-partial('../partials/topNavigation')%>
                </nav>
            </div>
            <div class="col-2">
                <div class="header__nav-auth">
                    <% if (user) {%>
                    <a href=""  
                    class="header__nav-sign" id="logout">
                        Logout
                    </a>
                    <% }else{ %>
                    <a href="./login" class="header__nav-sign">
                        Sign in
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</header>
<%-blocks.header%>
<%-body -%>
<section class="main">
    <h1><%=blocks.title%></h1>
</section>
<footer>
    <%-blocks.footer%>
</footer>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> -->

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>
